:root {
	--index: calc(1vw + 1vh);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
.content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
}
.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40vw;
	img {
		width: calc(var(--index) * 12);
		height: calc(var(--index) * 15);
		border-radius: 8px;
		min-width: 270px;
		min-height: 350px;
	}
}
.right {
	width: max-content;
	margin-top: 50px;
}

.card {
	width: max-content;
	border-radius: 4px;

	img {
		width: calc(var(--index) * 16);
		border-radius: 4px;
	}
}

@for $i from 1 through 20 {
	.card:nth-child(#{$i}) {
		rotate: $i + 2deg;
	}
}
